{% extends 'main.html' %}
{% load static %}
{% block content %}
  {% for link in links %}
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <a href="{% url 'userprofile' link.user %}"><strong class="d-inline-block mb-2 text-success">{{ link.user }}</strong></a>
        <h3 class="mb-0">{{ link.title }}</h3>
        <a href="{{ link.url }}">{{ link.title }}</a>
        <div class="mb-1 text-muted">{{ link.created | timesince }}</div>
        <p class="mb-auto">{{ link.dis }}</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="img-fluid"  src="{% static link.userph.image.url %}" width="300" height="300">

      </div>
    </div>
  </div>
    {% endfor %}
  

{% endblock content %}