{% extends 'main.html' %}
{% load static %}
{% block content %}
  {% for link in links %}
  
    
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="d-flex text-muted pt-3">
        <img class="me-3" src="{% static user.image.url %}" alt="" width="48" height="48">

        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@{{ user.user }} || {{ link.created | timesince}}</strong>
          <a href="{{ link.url}}">{{ link.title}}</a>
          <p>{{ link.dis }}</p>
        
        </p>
      </div>
    </div>
    {% endfor %}

{% endblock content %}